<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div id="content">
                <p>
                   I'm a Sr. Product Manager at AutoScout24. 
                   Prior to that, I was working as a PM at Red Bull Media House, developing action sports games 
                   for mobile. I come from Ukraine 🇺🇦, do CrossFit and hiking in my free time and like 
                    <a href="{{ site.baseurl }}posts.html#toLearn">
                        learning and gaining new skills.
                    </a>
                </p>
                <p>
                    Occasionally I write about the things that I've learned. Check out my latest posts below or jump to all posts</a>
                </p>
            </div>
            <div class="inner">
                <ul class="actions 12u 3u$(small)">
                    <li><a href="{{ site.baseurl }}posts.html" class="button special"  style="margin: 3px;">All Posts</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>