<!DOCTYPE html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="style1">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                <p style="text-transform: uppercase;">{{ page.description }}</p>
                <ul class="actions">
                    <li>
                        <a href="#timeline" class="button next scrolly">Timeline</a>
                    </li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Top content and fun facts -->
    <div id="main" class="alt">
        <section>
            <div class="inner">
                <p>Hi!👋 Thanks for visiting my website.</p>
                <p>My name is Dima Naida and I'm a Sr. Product Manager at AutoScout24. Prior to
                    that, I was working as a PM at Red Bull Media House, developing action sports
                    games for mobile. I come from Ukraine 🇺🇦 and do CrossFit in my free time.
                    Also, I like learning and gaining new skills. You can find my reviews of books
                    and courses that might worth your time in
                    <a href="{{ site.baseurl }}/posts.html">my Posts</a>.

                </p>

                <p>More stuff about me in
                    <a href="#timeline" class="next scrolly">Timeline</a>
                    below.
                </p>
            </div>

        </section>

    </div>

    <!-- Timeline -->
    <section id="timeline">
        <div class="inner">
            <h2 id="content">Timeline</h2>
            <!-- Main content -->
            <div id="content">
                <section id="cd-timeline" class="cd-container">
                    <!-- Flex Program-->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie"></div>
                        <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>FLEX Program 🇺🇸</h2>
                            <span class="image fit"><img src="/assets/images/flex.jpg" alt=""/></span>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    Aug 2009 - May 2010
                                </span>
                            </div>

                            <p>I spent a wonderful year as a highschool student in the small town of Itasca,
                                TX, USA. During this time I've also explored most of the Texas state and visited
                                Washington, DC.
                            </p>

                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- End Flex Program -->

                    <!-- War Times -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie"></div>
                        <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>Ukrainian war 🇺🇦</h2>
                            <span class="image fit"><img src="/assets/images/ato.jpg" alt=""/></span>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Armed Forces
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    Mar 2015 - Mar 2016
                                </span>
                            </div>

                            <p>After military institute I served in Ukrainian Armed Forces.
                                This was a period of armed conflict in Eastern Ukraine, so I spent most of my
                                service time there. This was a tough year.
                            </p>

                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- End of War Times-->
                    <!-- First Game dev job -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie"></div>
                        <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>First Job in Game Dev 👾</h2>
                            <span class="image fit"><img src="/assets/images/gameloft.jpg" alt=""/></span>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Gameloft
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2016
                                </span>
                            </div>

                            <p>I was super excited to work for Gameloft as a Marketing / Community Manager for
                                popular free-to-play games
                                <a target="_blank" href="https://www.gameloft.com/en/game/spiderman-unlimited">Spider-Man Unlimited</a>
                                and
                                <a target="_blank" href="https://www.gameloft.com/en/game/world-at-arms">World at Arms</a>.
                            </p>

                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- End of First Game dev job entry-->
                    <!-- Moved to Austria -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie"></div>
                        <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>Move to Austria 🇦🇹</h2>
                            <span class="image fit"><img src="/assets/images/salzburg.jpg" alt=""/></span>

                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Red Bull Media House
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2018
                                </span>
                            </div>

                            <p>Got a job offer as Project Manager Games from

                                <a target="_blank" href="https://www.redbullmediahouse.com/">Red Bull Media House</a>
                                and moved to beautiful city of Salzburg, Austria. Here I fell in love with
                                mountain biking, did a lot of hiking and skiing.
                            </p>

                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- End Moved to Austria -->
                    <!-- Moved to Germany -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie"></div>
                        <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>Move to Germany 🇩🇪</h2>
                            <span class="image fit"><img src="/assets/images/munich.jpeg" alt=""/></span>

                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    AutoScout24
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    Jan 2022
                                </span>
                            </div>

                            <p>Started to work at
                                <a target="_blank" href="https://www.autoscout24.de/">AutoScout24</a>
                                as a Sr. Product Manager in Munich, Germany. Thanks to great team
                                members I managed to attend my very first rave party in the woods. I am located just
                                1.5hrs drive from Salzburg, so I still enjoy hikes and MTB rides on weekends.
                            </p>

                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- End moved to Germany -->

                </section>
                <!-- cd-timeline -->
            </div>

        </div>
        <hr>
    </section>

    {% include footer.html %}

</body>

</html>